<a href="https://colab.research.google.com/github/camilacruz-cs/PretaLab/blob/main/mod2/%20Aula3_Autogestao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Preparando o ambiente

In [ ]:
# Montando o Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Colab Notebooks/PretaLab - Python para análise de dados

/content/drive/MyDrive/Colab Notebooks/PretaLab - Python para análise de dados

In [ ]:
import os
print(os.getcwd())

/content/drive/MyDrive

In [ ]:
!ls

'Módulo 1'  'Módulo 2'	 Projetos

### Trabalhando com tabelas

In [ ]:
import sqlite3 as sql

In [ ]:
 #Conectar (ou criar) um banco de dados
conexao = sql.connect('notas.db')

In [ ]:
# Criar um cursor para executar comandos SQL
cursor = conexao.cursor()

print("Conectado ao banco de dados SQLite.")

Conectado ao banco de dados SQLite.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS NOTAS")
cursor.execute("DROP TABLE IF EXISTS DISCIPLINAS")
cursor.execute("DROP TABLE IF EXISTS PRINCIPAL")

In [ ]:
# Criando a tabela "PRINCIPAL"
cursor.execute( '''
CREATE TABLE  PRINCIPAL (
    MATRICULA INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    NOME TEXT NOT NULL
    )''')

print("Tabela PRINCIPAL criada com sucesso.")

Tabela PRINCIPAL criada com sucesso.

In [ ]:
 #Criando a tabela "Disciplinas"
cursor.execute('''
CREATE TABLE IF NOT EXISTS DISCIPLINAS (
    DISCIPLINA TEXT NOT NULL,
    ID_DISCIPLINA INTEGER PRIMARY KEY AUTOINCREMENT
)
''')

In [ ]:
#Criando a tabela "NOTAS"
cursor.execute('''
CREATE TABLE IF NOT EXISTS NOTAS (
    ID_NOTA  INTEGER PRIMARY KEY AUTOINCREMENT,
    MATRICULA INTEGER,
    ID_DISCIPLINA INTEGER,
    NOTA REAL,
    FOREIGN KEY (MATRICULA) REFERENCES PRINCIPAL(MATRICULA),
    FOREIGN KEY (ID_DISCIPLINA) REFERENCES  DISCIPLINAS(ID_DISCIPLINA )
)
''')

In [ ]:
# Salvando as mudanças no banco de dados
conexao.commit()

In [ ]:
alunos = [
    ('254','Maria Silva'),
    ('255','João Pereira' ),
    ('256','Ana Souza' )
]
cursor.executemany("INSERT INTO PRINCIPAL (MATRICULA, NOME) VALUES (?, ?)", alunos)

In [ ]:
# Inserir disciplinas na tabela "DISCIPLINAS"
DISCIPLINA = [
    ('1','Matemática',),
    ('2','Português',),
    ('3','História',)
]
cursor.executemany("INSERT INTO DISCIPLINAS (ID_DISCIPLINA,DISCIPLINA) VALUES (?,?)", DISCIPLINA)

In [ ]:
notas = [
    (1,254, 1, 8.5),  # Maria Silva - Matemática
    (2,254, 2, 7.0),  # Maria Silva - Português
    (3,254, 3, 7.0),  # Maria Silva - história
    (4,255, 1, 9.0),  # João Pereira - Matemática
    (5,255, 2, 8.0),  # João Pereira - Português
    (6,255, 3, 8.0),  # João Pereira - História
    (7,256, 1, 7.5),  # Ana Souza - Matemática
    (8,256, 2, 7.5),  # Ana Souza - Português
    (9,256, 3, 6.5)   # Ana Souza - História
]

cursor.executemany("INSERT INTO NOTAS (ID_NOTA, MATRICULA,ID_DISCIPLINA,NOTA) VALUES (?, ?, ?,?)", notas)

In [ ]:
# Salvar as mudanças e fechar a conexão
conexao.commit()

In [ ]:
# Consultar todos os dados da tabela PRICINPAL
cursor.execute("SELECT * FROM NOTAS")
resultados = cursor.fetchall()

# Exibir os dados recuperados
for linha in resultados:
    print(linha)

(1, 254, 1, 8.5)
(2, 254, 2, 7.0)
(3, 254, 3, 7.0)
(4, 255, 1, 9.0)
(5, 255, 2, 8.0)
(6, 255, 3, 8.0)
(7, 256, 1, 7.5)
(8, 256, 2, 7.5)
(9, 256, 3, 6.5)

In [ ]:
# Selecionar todos os alunos e suas respectivas notas
cursor.execute('''
SELECT PRINCIPAL.MATRICULA,PRINCIPAL.NOME, DISCIPLINAS.DISCIPLINA, NOTAS.NOTA
FROM NOTAS
JOIN PRINCIPAL ON NOTAS.MATRICULA = PRINCIPAL.MATRICULA
JOIN DISCIPLINAS ON NOTAS.ID_DISCIPLINA = DISCIPLINAS.ID_DISCIPLINA
''')

In [ ]:
# Exibir os resultados
resultados = cursor.fetchall()
for linha in resultados:
    print(linha)

(254, 'Maria Silva', 'Matemática', 8.5)
(254, 'Maria Silva', 'Português', 7.0)
(254, 'Maria Silva', 'História', 7.0)
(255, 'João Pereira', 'Matemática', 9.0)
(255, 'João Pereira', 'Português', 8.0)
(255, 'João Pereira', 'História', 8.0)
(256, 'Ana Souza', 'Matemática', 7.5)
(256, 'Ana Souza', 'Português', 7.5)
(256, 'Ana Souza', 'História', 6.5)

In [ ]:
# Salvar as alterações no banco de dados
conexao.commit()

print("Dados inseridos com sucesso.")

Dados inseridos com sucesso.

### Exemplo Avançado

1. Criando um Módulo Python para Gerar Dados Fictícios

Vamos começar criando um arquivo chamado gerador_dados.py que será nosso módulo para gerar os dados fictícios. Ele conterá funções para gerar alunos, disciplinas e notas.

In [ ]:
import random
import csv

In [ ]:
# Função para salvar os dados em CSV
def salvar_csv(nome_arquivo, colunas, dados):
    with open(nome_arquivo, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(colunas)
        writer.writerows(dados)
    print(f'Dados salvos em {nome_arquivo}')

In [ ]:
salvar_csv('alunos.csv', 'nome, matricula',alunos)

In [ ]:
# Função para gerar nomes de alunos fictícios
def gerar_alunos(qtd_alunos):
    alunos = []
    for i in range(1, qtd_alunos + 1):
        nome = f'Aluno {i:04}'
        matricula = f'2023{i:05}'
        alunos.append((nome, matricula))
    return alunos

# Função para gerar disciplinas fictícias
def gerar_disciplinas():
    return [
        ('Matemática',),
        ('Português',),
        ('História',),
        ('Geografia',),
        ('Ciências',)
    ]


    # Função para gerar notas aleatórias para os alunos
def gerar_notas(qtd_alunos, qtd_disciplinas):
    notas = []
    for aluno_id in range(1, qtd_alunos + 1):
        for disciplina_id in range(1, qtd_disciplinas + 1):
            nota = round(random.uniform(5.0, 10.0), 1)
            notas.append((aluno_id, disciplina_id, nota))
    return notas


# Função para salvar os dados em CSV
def salvar_csv(nome_arquivo, colunas, dados):
    with open(nome_arquivo, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(colunas)
        writer.writerows(dados)
    print(f'Dados salvos em {nome_arquivo}')


# Geração de dados fictícios
def gerar_dados_ficticios(qtd_alunos):
    # Gerar dados
    alunos = gerar_alunos(qtd_alunos)
    disciplinas = gerar_disciplinas()
    notas = gerar_notas(qtd_alunos, len(disciplinas))

    # Salvar em arquivos CSV
    salvar_csv('alunos.csv', ['nome', 'matricula'], alunos)
    salvar_csv('disciplinas.csv', ['nome'], disciplinas)
    salvar_csv('notas.csv', ['id_aluno', 'id_disciplina', 'nota'], notas)

In [ ]:
conteudo = '''
import random
import csv
# Função para gerar nomes de alunos fictícios
def gerar_alunos(qtd_alunos):
    alunos = []
    for i in range(1, qtd_alunos + 1):
        nome = f'Aluno {i:03}'
        matricula = f'2023{i:04}'
        alunos.append((nome, matricula))
    return alunos

# Função para gerar disciplinas fictícias
def gerar_disciplinas():
    return [
        ('Matemática',),
        ('Português',),
        ('História',),
        ('Geografia',),
        ('Ciências',)
    ]


    # Função para gerar notas aleatórias para os alunos
def gerar_notas(qtd_alunos, qtd_disciplinas):
    notas = []
    for aluno_id in range(1, qtd_alunos + 1):
        for disciplina_id in range(1, qtd_disciplinas + 1):
            nota = round(random.uniform(5.0, 10.0), 1)
            notas.append((aluno_id, disciplina_id, nota))
    return notas


# Função para salvar os dados em CSV
def salvar_csv(nome_arquivo, colunas, dados):
    with open(nome_arquivo, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(colunas)
        writer.writerows(dados)
    print(f'Dados salvos em {nome_arquivo}')


# Geração de dados fictícios
def gerar_dados_ficticios(qtd_alunos):
    # Gerar dados
    alunos = gerar_alunos(qtd_alunos)
    disciplinas = gerar_disciplinas()
    notas = gerar_notas(qtd_alunos, len(disciplinas))

    # Salvar em arquivos CSV
    salvar_csv('alunos.csv', ['nome', 'matricula'], alunos)
    salvar_csv('disciplinas.csv', ['nome'], disciplinas)
    salvar_csv('notas.csv', ['id_aluno', 'id_disciplina', 'nota'], notas)
'''

In [ ]:
with open('gerador_dados.py', mode='w') as file:
    file.write(conteudo)

2. Gerar Dados e Salvar em Arquivos CSV

Agora, no script principal, podemos usar o módulo gerador_dados.py para gerar os dados fictícios e salvar os arquivos CSV. Aqui criamos dados para 50 alunos e 5 disciplinas, e geramos suas notas.

In [ ]:
with open('main.py', mode='w') as file:
    file.write(
        '''
import gerador_dados
gerador_dados.gerar_dados_ficticios(100)
        '''
    )

In [ ]:
with open('main.py', mode='r') as file:
    print(file.read())

import gerador_dados
gerador_dados.gerar_dados_ficticios(100)

In [ ]:
import main

NameError: name 'random' is not defined

In [ ]:
import gerador_dados
gerador_dados.gerar_dados_ficticios(100)

NameError: name 'random' is not defined

In [ ]:
with open('alunos.csv', mode='r') as file:
    print(file.read())

nome,matricula
Aluno 001,20230001
Aluno 002,20230002
Aluno 003,20230003
Aluno 004,20230004
Aluno 005,20230005
Aluno 006,20230006
Aluno 007,20230007
Aluno 008,20230008
Aluno 009,20230009
Aluno 010,20230010
Aluno 011,20230011
Aluno 012,20230012
Aluno 013,20230013
Aluno 014,20230014
Aluno 015,20230015
Aluno 016,20230016
Aluno 017,20230017
Aluno 018,20230018
Aluno 019,20230019
Aluno 020,20230020
Aluno 021,20230021
Aluno 022,20230022
Aluno 023,20230023
Aluno 024,20230024
Aluno 025,20230025
Aluno 026,20230026
Aluno 027,20230027
Aluno 028,20230028
Aluno 029,20230029
Aluno 030,20230030
Aluno 031,20230031
Aluno 032,20230032
Aluno 033,20230033
Aluno 034,20230034
Aluno 035,20230035
Aluno 036,20230036
Aluno 037,20230037
Aluno 038,20230038
Aluno 039,20230039
Aluno 040,20230040
Aluno 041,20230041
Aluno 042,20230042
Aluno 043,20230043
Aluno 044,20230044
Aluno 045,20230045
Aluno 046,20230046
Aluno 047,20230047
Aluno 048,20230048
Aluno 049,20230049
Aluno 050,20230050

In [ ]:
with open('disciplinas.csv', mode='r') as file:
    print(file.read())

nome
Matemática
Português
História
Geografia
Ciências

In [ ]:
with open('notas.csv', mode='r') as file:
    print(file.read())

id_aluno,id_disciplina,nota
1,1,8.5
1,2,9.8
1,3,9.7
1,4,7.7
1,5,9.5
2,1,8.1
2,2,5.7
2,3,9.8
2,4,10.0
2,5,10.0
3,1,6.7
3,2,5.7
3,3,9.1
3,4,9.4
3,5,7.5
4,1,5.4
4,2,7.6
4,3,9.7
4,4,8.0
4,5,8.4
5,1,5.4
5,2,7.8
5,3,6.0
5,4,7.1
5,5,9.8
6,1,9.9
6,2,8.3
6,3,6.2
6,4,6.5
6,5,5.1
7,1,6.5
7,2,7.1
7,3,8.1
7,4,9.5
7,5,6.7
8,1,5.2
8,2,6.7
8,3,7.4
8,4,9.4
8,5,5.4
9,1,8.4
9,2,5.4
9,3,9.1
9,4,6.7
9,5,7.6
10,1,6.9
10,2,8.5
10,3,5.5
10,4,5.4
10,5,6.4
11,1,5.3
11,2,6.3
11,3,5.7
11,4,9.6
11,5,5.9
12,1,7.4
12,2,9.9
12,3,6.0
12,4,6.6
12,5,5.5
13,1,8.0
13,2,6.6
13,3,9.4
13,4,5.5
13,5,6.0
14,1,8.7
14,2,9.2
14,3,10.0
14,4,9.8
14,5,6.8
15,1,5.3
15,2,5.8
15,3,6.9
15,4,6.6
15,5,8.2
16,1,7.4
16,2,7.4
16,3,6.0
16,4,8.1
16,5,5.1
17,1,5.7
17,2,5.9
17,3,6.5
17,4,7.2
17,5,8.6
18,1,9.2
18,2,9.4
18,3,6.9
18,4,6.9
18,5,5.8
19,1,7.2
19,2,5.6
19,3,8.1
19,4,9.2
19,5,8.4
20,1,8.5
20,2,9.7
20,3,9.8
20,4,6.0
20,5,5.5
21,1,5.2
21,2,5.6
21,3,7.8
21,4,8.0
21,5,8.7
22,1,7.4
22,2,5.9
22,3,9.2
22,4,6.7
22,5,6.9
23,1,8.9
23,2,6.4
23,3,9.4
23,4,8.6
23,5,6.5
24,1,6.7
24,2,7.7
24,3,10.0
24,4,8.5
24,5,8.1
25,1,9.4
25,2,8.8
25,3,5.1
25,4,6.3
25,5,8.5
26,1,6.3
26,2,5.8
26,3,6.8
26,4,6.5
26,5,6.1
27,1,6.4
27,2,6.1
27,3,7.6
27,4,6.8
27,5,9.2
28,1,8.1
28,2,8.1
28,3,7.7
28,4,6.2
28,5,8.7
29,1,6.7
29,2,6.7
29,3,7.7
29,4,7.2
29,5,8.0
30,1,8.4
30,2,9.1
30,3,8.5
30,4,8.3
30,5,8.5
31,1,6.4
31,2,7.6
31,3,6.1
31,4,5.8
31,5,5.5
32,1,9.5
32,2,9.7
32,3,7.5
32,4,6.4
32,5,7.4
33,1,8.9
33,2,8.1
33,3,9.6
33,4,6.1
33,5,6.7
34,1,7.1
34,2,6.2
34,3,7.0
34,4,7.3
34,5,8.1
35,1,6.4
35,2,9.7
35,3,6.3
35,4,5.2
35,5,6.6
36,1,5.1
36,2,8.0
36,3,5.4
36,4,9.9
36,5,7.9
37,1,6.8
37,2,9.7
37,3,6.7
37,4,8.6
37,5,9.8
38,1,6.0
38,2,9.7
38,3,9.4
38,4,9.9
38,5,5.2
39,1,6.4
39,2,5.3
39,3,8.6
39,4,6.7
39,5,7.1
40,1,7.2
40,2,5.7
40,3,6.4
40,4,5.2
40,5,9.0
41,1,6.7
41,2,7.7
41,3,9.2
41,4,6.9
41,5,9.0
42,1,9.5
42,2,6.2
42,3,9.1
42,4,10.0
42,5,8.6
43,1,8.7
43,2,7.1
43,3,7.4
43,4,8.1
43,5,9.0
44,1,5.1
44,2,7.1
44,3,8.5
44,4,6.9
44,5,8.5
45,1,5.1
45,2,6.9
45,3,7.0
45,4,5.8
45,5,7.1
46,1,6.6
46,2,8.8
46,3,9.2
46,4,7.1
46,5,5.0
47,1,5.0
47,2,7.1
47,3,7.9
47,4,8.2
47,5,10.0
48,1,9.7
48,2,7.4
48,3,8.1
48,4,8.6
48,5,5.6
49,1,8.3
49,2,6.1
49,3,9.7
49,4,7.4
49,5,8.5
50,1,7.7
50,2,5.6
50,3,7.3
50,4,8.1
50,5,5.4

3. Inserindo os Dados no SQLite a Partir dos Arquivos CSV

Agora vamos carregar os dados dos arquivos CSV e inseri-los no banco de dados SQLite.

Script para Inserir no SQLite:
python

In [ ]:
# Conectar ao banco de dados SQLite
conexao = sql.connect('escola.db')
cursor = conexao.cursor()

In [ ]:
# Criar as tabelas no banco de dados
cursor.execute('''
CREATE TABLE IF NOT EXISTS Alunos (
    id_aluno INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    matricula TEXT NOT NULL UNIQUE
)
''')

In [ ]:

cursor.execute('''
CREATE TABLE IF NOT EXISTS Disciplinas (
    id_disciplina INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL
)
''')

In [ ]:

cursor.execute('''
CREATE TABLE IF NOT EXISTS Notas (
    id_nota INTEGER PRIMARY KEY AUTOINCREMENT,
    id_aluno INTEGER,
    id_disciplina INTEGER,
    nota REAL,
    FOREIGN KEY (id_aluno) REFERENCES Alunos(id_aluno),
    FOREIGN KEY (id_disciplina) REFERENCES Disciplinas(id_disciplina)
)
''')

In [ ]:
# Função para carregar os dados de um arquivo CSV e inserir no banco
def carregar_csv_e_inserir(nome_arquivo, query):
    with open(nome_arquivo, mode='r') as file:
        reader = csv.reader(file)
        next(reader)  # Pular o cabeçalho
        cursor.executemany(query, reader)

In [ ]:
# Inserir dados no banco a partir dos arquivos CSV
carregar_csv_e_inserir('alunos.csv', "INSERT INTO Alunos (nome, matricula) VALUES (?, ?)")
carregar_csv_e_inserir('disciplinas.csv', "INSERT INTO Disciplinas (nome) VALUES (?)")
carregar_csv_e_inserir('notas.csv', "INSERT INTO Notas (id_aluno, id_disciplina, nota) VALUES (?, ?, ?)")

In [ ]:
# Salvar e fechar a conexão
conexao.commit()

Fazendo consulta dos dados

In [ ]:
cursor.execute('''
    SELECT Alunos.nome, Disciplinas.nome, Notas.nota
    FROM Notas
    JOIN Alunos ON Notas.id_aluno = Alunos.id_aluno
    JOIN Disciplinas ON Notas.id_disciplina = Disciplinas.id_disciplina
    ''')

In [ ]:
resultados = cursor.fetchall()

    # Exibir os resultados
for resultado in resultados:
        print(f"Aluno: {resultado[0]}, Disciplina: {resultado[1]}, Nota: {resultado[2]}")