<a href="https://colab.research.google.com/github/camilacruz-cs/PretaLab/blob/main/mod2/%20aula2_trabalhando_banco_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preparando o ambiente

In [ ]:
# Montando o Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Colab Notebooks/PretaLab - Python para análise de dados/Módulo 2

/content/drive/MyDrive/Colab Notebooks/PretaLab - Python para análise de dados/Módulo 2

In [ ]:
import os
print(os.getcwd())

/content/drive/MyDrive/Colab Notebooks/PretaLab - Python para análise de dados/Módulo 2

In [ ]:
!ls

 aula1_introducao_banco_dados.ipynb    Aula3_Autogestao.ipynb  'notas (1).db'   notas.db-journal
 aula2_trabalhando_banco_dados.ipynb   meu_banco.db	        notas.db

## Usando o SQLite3 no Python

In [ ]:
import sqlite3 as sql

In [ ]:
#Conectar (ou criar) um banco de dados

conexao = sql.connect('notas.db')

In [ ]:
cursor = conexao.cursor() #ele dá o ponteiro para o banco

print("Conectando com o Banco de Dados")

Conectando com o Banco de Dados

### 2. Criando uma tabela de dados

In [ ]:
#Criando uma tabela chamada "Alunos"

cursor.execute('''

CREATE TABLE IF NOT EXISTS ALUNO(
  MATRICULA INTEGER PRIMARY KEY,
  NOME TEXT,
  DISCIPLINA TEXT,
  NOTA REAL
)
''')

print("Tabela 'Aluno' criada com sucesso")

Tabela 'Aluno' criada com sucesso

### Inserindo dados na tabela

In [ ]:
#Inserindo os dados

cursor.execute("INSERT INTO ALUNO (MATRICULA, NOME, DISCIPLINA, NOTA) VALUES ('234', 'JOSE', 'MATEMÁTICA','9.0')")

#salvando a inserção

conexao.commit()

print("Dados inseridos com sucesso")

Dados inseridos com sucesso

Leitura dos dados na tabela

In [ ]:
#Consultar os dados

cursor.execute("SELECT * FROM ALUNO")
resultados = cursor.fetchall()

#exibindo resultados

for linha in resultados:
  print(linha)

(123, 'MARIA', 'MATEMÁTICA', 9.0)
(234, 'JOSE', 'MATEMÁTICA', 9.0)

Atualizando os dados na tabela

In [ ]:
cursor.execute("UPDATE ALUNO SET NOTA = 9.0 WHERE NOME = 'MARIA'")

conexao.commit()

print("Dados atualizados com sucesso")

Dados atualizados com sucesso

In [ ]:
#Inserindo dados no banco de dados

cursor.execute("INSERT INTO ALUNO (MATRICULA, NOME, DISCIPLINA, NOTA) VALUES ('456','Maria', 'Matemática','9.5')")

#Salvando tudo que foi feito.
conexao.commit()

print("Dados inseridos com sucesso")

Dados inseridos com sucesso

In [ ]:
#Atualização nos dados

cursor.execute("UPDATE ALUNO SET NOTA = 9.0 WHERE NOME = 'MARIA'")

#Salvando tudo que foi feito.
conexao.commit()

print("Dados atualizados com sucesso")

Dados atualizados com sucesso

In [ ]:
#Consultar a tabela

cursor.execute("SELECT * FROM ALUNO")
resultados = cursor.fetchall()

#exibindo

for i in resultados:
  print(i)

(123, 'MARIA', 'MATEMÁTICA', 9.0)
(234, 'JOSE', 'MATEMÁTICA', 9.0)
(456, 'Maria', 'Matemática', 9.5)

Deletando dados do banco de dados

In [ ]:
cursor.execute("DELETE FROM ALUNO WHERE MATRICULA = '456'")
conexao.commit()

print("Deletado com sucesso")

Deletado com sucesso

Fechando a conexão do banco

In [ ]:
conexao.close()

print("Conexão fechada com sucesso")

Conexão fechada com sucesso

##Trabalhando com tabelas no banco de dados

In [ ]:
#Conectar o banco de dados

#Conectando a um banco já criado
conexao = sql.connect('notas.db')

In [ ]:
cursor = conexao.cursor()

print("Banco conectado com sucesso!")

Banco conectado com sucesso!

In [ ]:
#Criando a tabela "PRINCIPAL"

cursor.execute('''
CREATE TABLE IF NOT EXISTS PRINCIPAL(
  MATRICULA INTEGER PRIMARY KEY,
  NOME TEXT NOT NULL

)


''')

print("Tabela 'PRINCIPAL' criada com sucesso")

Tabela 'PRINCIPAL' criada com sucesso

In [ ]:
#Criando a tabela "DISCIPLINA"

cursor.execute('''
  CREATE TABLE IF NOT EXISTS DISCIPLINAS(
    MATRICULA INTEGER,
    DISCIPLINA TEXT NOT NULL,
    ID_DISCIPLINA INTEGER PRIMARY KEY

  )



''')

print("Tabela 'DISCIPLINA' criada com sucesso")

Tabela 'DISCIPLINA' criada com sucesso

In [ ]:
#Criando a coluna "NOTAS"

cursor.execute('''
CREATE TABLE IF NOT EXISTS NOTAS(
  ID_NOTA INTEGER PRIMARY KEY,
  MATRICULA INTEGER,
  ID_DISCIPLINA INTEGER,
  NOTA REAL,
  FOREIGN KEY (MATRICULA) REFERENCES PRINCIPAL(ID_ALUNOS),
  FOREIGN KEY (ID_DISCIPLINA) REFERENCES DISCIPLINAS(ID_DISCIPLINA)

)


''')

print("Tabela 'NOTAS' criada com sucesso")

Tabela 'NOTAS' criada com sucesso

In [ ]:
#Salvando no banco

conexao.commit()

In [ ]:
#Consultar os dados - Aqui não vai aparecer nada, pois as tabelas só foram criadas.

cursor.execute("SELECT * FROM DISCIPLINAS")
resultados = cursor.fetchall()

#exibindo resultados

for linha in resultados:
  print(linha)

###Adicionando os dados nas tabelas

In [ ]:
DISCIPLINA = [
    ('Matemática',),
    ('História',),
    ('Português',)
 ]

cursor.executemany("INSERT INTO DISCIPLINAS (DISCIPLINA) VALUES (?)", DISCIPLINA)

In [ ]:
for linhas in notas:
  print(linha)

(234, 'JOSE', 'MATEMÁTICA', 9.0)
(234, 'JOSE', 'MATEMÁTICA', 9.0)
(234, 'JOSE', 'MATEMÁTICA', 9.0)
(234, 'JOSE', 'MATEMÁTICA', 9.0)

##Colab reutilizado na aula de augestão.

#Para utilizar o exemplo novamente, vou excluir as tabelas já criadas

In [ ]:
cursor.execute("DROP TABLE IF EXISTS DISCIPLINAS")
cursor.execute("DROP TABLE IF EXISTS NOTAS")
cursor.execute("DROP TABLE IF EXISTS PRINCIPAL")

print("Tabelas excluídas com sucesso (:")

Tabelas excluídas com sucesso (:

##Criação das tabelas

In [ ]:
#Criando a tabela "PRINCIPAL"

cursor.execute('''

CREATE TABLE PRINCIPAL(
  MATRICULA INTEGER PRIMARY KEY AUTOINCREMENT,
  NOME TEXT
)
''')

print("Tabela 'PRINCIPAL' criada com sucesso (:)")

Tabela 'PRINCIPAL' criada com sucesso (:)

In [ ]:
#Criando a tabela "DISCIPLINA"

cursor.execute('''
  CREATE TABLE IF NOT EXISTS DISCIPLINAS(
    MATRICULA INTEGER,
    DISCIPLINA TEXT NOT NULL,
    ID_DISCIPLINA INTEGER PRIMARY KEY

  )



''')

print("Tabela 'DISCIPLINA' criada com sucesso")

Tabela 'DISCIPLINA' criada com sucesso

In [ ]:
#Criando a coluna "NOTAS"

cursor.execute('''
CREATE TABLE IF NOT EXISTS NOTAS(
  ID_NOTA INTEGER PRIMARY KEY,
  MATRICULA INTEGER,
  ID_DISCIPLINA INTEGER,
  NOTA REAL,
  FOREIGN KEY (MATRICULA) REFERENCES PRINCIPAL(ID_ALUNOS),
  FOREIGN KEY (ID_DISCIPLINA) REFERENCES DISCIPLINAS(ID_DISCIPLINA)

)


''')

print("Tabela 'NOTAS' criada com sucesso")

Tabela 'NOTAS' criada com sucesso

##Inserindo dados na tabela

In [ ]:
notas = [
    (1, 245, 1,8.5),
    (2, 245, 2, 8.0)
]

cursor.executemany("INSERT INTO NOTAS (ID_NOTA, MATRICULA, ID_DISCIPLINA,NOTA) VALUES (?,?,?,?)", NOTAS)

NameError: name 'NOTAS' is not defined